p{
    color:rgb(15, 14, 14)
}
.container{
    border: 2px;
    border-color: black;
    border-radius: 1%;
}
.divider{
    align-items: center;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #d6d3d3;
}
body{
    background-attachment: fixed;
  background-size: cover;
    background-repeat: no-repeat;
    z-index: 0.4;
}
